<app-topbar></app-topbar>

<div>

    <div class="tables">
        <div class="add-btn-div">
            <button class="add-button" *ngIf="!tableName">Sync</button>
            <button class="add-button" *ngIf="!tableName"(click)="removePopup()">Remove</button>
            <button class="add-button" (click)="!tableName ? importuserpop(importpop): localuserpop(localpop)">Add</button>
        </div>
        <div>
            <table *ngIf="tableName; else directory" class="resizable-table">
                <thead>
                    <tr>
                        <th (mousedown)="onResizeStart($event)"><input type=checkbox class="check"><span>Name<div class="resize-handle"></div></span></th>
                        <th (mousedown)="onResizeStart($event)">ID<div class="resize-handle"></div></th>
                        <th (mousedown)="onResizeStart($event)">Email<div class="resize-handle"></div></th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
                <tbody *ngFor="let item of localuserlist">
                    <tr>
                        <td><input type=checkbox class="check">{{item.firstname}} {{item.lastname}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.status}}</td>
                    </tr>
                </tbody>
            </table>

            <ng-template #directory>
                <table class="resizable-table">
                    <thead>
                        <tr>
                            <th (mousedown)="onResizeStart($event)"><input type=checkbox class="check">Name<div class="resize-handle"></div></th>
                            <th (mousedown)="onResizeStart($event)">UserID<div class="resize-handle"></div></th>
                            <th (mousedown)="onResizeStart($event)">Email<div class="resize-handle"></div></th>
                            <th (mousedown)="onResizeStart($event)">Status <div class="resize-handle"></div></th>
                            <th>AD Group</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of directoryuser">
                        <tr>
                            <td><input type=checkbox class="check" (click)="userId=item.id">{{item.firstname}} {{item.lastname}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.ADGroup}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>

        </div>


    </div>
    <ng-template #localpop let-modal>  
    <div>
        <form class="adduserform" [formGroup]="adduserform" #check>
                <div class="adduserfield">
                    <div class="adduser-title">
                        <span>Add user</span>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>First name</mat-label>
                            <input formControlName="fname" matInput placeholder="Enter your First name">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>last name</mat-label>
                            <input formControlName="lname" matInput placeholder="Enter your Last name">
                        </mat-form-field>
                    </div>
                    <div> <mat-form-field appearance="outline">
                            <mat-label>User name</mat-label>
                            <input formControlName="uname" matInput placeholder="Enter your User name">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Email id</mat-label>
                            <input formControlName="gmail" matInput placeholder="abc@gmail.com">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input formControlName="passwrd" matInput placeholder="Enter your Last name">
                        </mat-form-field>
                    </div>
    
                    <div>
                        <select formControlName="roles" class="slt-opt-fld" aria-label="Default select example">
                            <option selected>Select role</option>
                            <option value="1">user</option>
                            <option value="2">admin</option>
                        </select>
                    </div>
                    <div class="slt-opt">
                        <input type="checkbox" formControlName="checkUser" (click)="onCheck()" class="chk-stl">
                        <label class="chk-stl">set own password</label>
                    </div>
                </div>
                <div class="add-btn">
                    <button class="submit" (click)="addUser()">Submit</button> 
                    <button class="submit" (click)="modal.close('Save click')">Cancel</button>
                </div>
    

        </form>
        <!-- </ng-template> -->
    </div>
    </ng-template>
    <ng-template #importpop let-modal>
        <mat-card class="mt-size">
                    <div>
                        <mat-card class="mt-size-in">
                            <table class="resizable-table">
                                <thead>
                                    <tr>
                                        <th (mousedown)="onResizeStart($event)"><input type=checkbox class="check">Group Names<div class="resize-handle"></div></th>
                                        <th>GroupID</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of groups">
                                    <tr>
                                        <td><input type=checkbox  class="check" (click)="groupusers($event,item.groupName,item.groupId)">{{item.groupName}}</td>
                                        <td>{{item.groupId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-card>
                    </div>
                    <div>
                        <mat-card class="mt-size-in">
                            <table class="resizable-table">
                                <thead>
                                    <tr>
                                        <th (mousedown)="onResizeStart($event)"><input type=checkbox class="check">Users<div class="resize-handle"></div></th>
                                        <th>UserID</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of users">
                                    <tr>
                                        <td><input type=checkbox class="check" (click)="imoprtlistuser($event,item.userId)">{{item.firstName}} {{item.lastName}}</td>
                                        <td>{{item.userId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-card>
                    </div>
                    <div>
                        <button class="import" (click)="importuser()">Import</button>
                        <button class="import" (click)="modal.close('Save click')">Cancel</button>
                    </div>
        </mat-card>
    </ng-template>
  

    <!-- remove -->
    <div *ngIf="removepopup" #removepop>
        <mat-card class="mt-size-re">
                    <div>
                        <mat-card class="mt-size-in">
                            <table class="resizable-table">
                                <thead>
                                    <tr>
                                        <th (mousedown)="onResizeStart($event)"><input type=checkbox class="check">Group Names<div class="resize-handle"></div></th>
                                        <th>GroupID</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of usergroups">
                                    <tr>
                                        <td><input type=checkbox  class="check" (click)="groupId=item.groupId">{{item.groupName}}</td>
                                        <td>{{item.groupId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-card>
                    </div>
                    <div>
                        <button class="import" (click)="removeuser()">Ok</button>
                        <button class="import" (click)="removepopup=!removepopup">Cancel</button>
                    </div>
        </mat-card>
    </div>
    <!-- (click)="this.addpopup=!this.addpopup;"
    (click)="this.openPopup = !this.openPopup;" -->
</div>