<html>

<body class="background-color">
    <form class="adduserform" [formGroup]="changeuserpassword">
        <div class="changepasswordfield">
            <div class="changepassword-title">
                <span>Change Password</span>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>New password</mat-label>
                    <input formControlName="npassword" [type]="showPassword ? 'text' : 'password'" matInput
                        placeholder="Enter new password">
                    <button mat-icon-button matSuffix (click)="showPassword = !showPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
                        <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input formControlName="cpassword" [type]="conformPassword ? 'text' : 'password'" matInput
                        placeholder="Enter Confirm password">
                    <button mat-icon-button matSuffix (click)="conformPassword = !conformPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="conformPassword">
                        <mat-icon>{{conformPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
        <div>
            <button class="submit-button" (click)="resetPassword()">submit</button>
        </div>
    </form>


</body>

</html>