.background-color {
    background-color: #F6F6F6;
}

.loginform {
    overflow: auto;
    position: absolute;
    width: 424px;
    height: 450px;
    left: 441px;
    top: 87px;
    border-radius: 6px 6px 6px 6px;

    background: #FfffFF;
    box-shadow: 0px 0px 6px rgba(154, 152, 152, 0.17);

}

.loginfield {
    position: absolute;
    left: 70px;
    top: 70px;


}

.mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    flex-direction: column;
    min-width: 30px;
    text-align: left;
    height: 65px;
    width: 283px;
    box-shadow: #0085FF;
    color: #797878;


}

.login-title {
    font-size: 30px;
    font-weight: 650;
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;

}

.mat-mdc-text-field-wrapper {
    width: 100px;

}

.submit-button {
    background-color: #0885ff;
    border: none;
    color: white;
    padding: 7px 118px;
    text-align: center;
    margin-top: 38px;
    margin-left: -1px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.okta-sign-button {
    background-color: #0885ff;
    border: none;
    color: white;
    padding: 7px 80px;
    text-align: center;
    margin-top: 380px;
    margin-left: 66px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}