<html>

<body class="background-color">

  <div class="topbar">
    <div class="top">
      <button class="topbar-button" mat-button routerLink="/admindashboard">Menu</button>
      <button class="topbar-button" mat-button>Home</button>
      <button class="topbar-button" mat-button>Edit</button>
      <button class="topbar-button" mat-button>Automation</button>
      <button class="topbar-button" mat-button>Help</button>
    </div>
  </div>
  <div class="container">
    <div class="account">
      <!-- <div *ngFor="let item of items" class="example-item">{{item}}</div> -->
      <div class="top">
        <button class="topbar-button" mat-button (click)="account()">Account-1</button>
      </div>

    </div>

    <div class="bucketlist">
      <div *ngFor="let item of buckets" class="example-item">
        <ul>
          <button class="bucketlist-button" (click)="objectList(item.Name)" mat-button>
            <li>{{item.Name}}</li>
          </button>


        </ul>
      </div>
    </div>


    <div class="properties">
      <div class="property">

        <div>
          <span style="color: #0085ff;"> </span>
        </div>
        <mat-tree *ngIf="enableTree" [dataSource]="propertiesinfo" [treeControl]="treeControl" class="example-tree">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            {{node.name}}
          </mat-tree-node>
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon mat-card-image="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </div>
            <div class="align" [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </mat-nested-tree-node>
          <div>
            <mat-checkbox color="primary"> primary theme</mat-checkbox>
            <br />
            <mat-checkbox color="accent"> accent theme</mat-checkbox>āā
            <br />
            <mat-checkbox color="warn"> warn theme</mat-checkbox>
          </div>
        </mat-tree>
      </div>
    </div>

    <div class="viewpanel">
      <div class="sidebar">
        <div class="preview">
          <!-- <button (click)="onSave()">Save</button> -->
          <button class="topbar-button" mat-button (click)="bucketproperties()"><b>properties</b></button>
          <button class="topbar-button" mat-button (click)=" buckettags()"><b>Tags</b></button>
          <button class="topbar-button" mat-button (click)=" bucketheaders()"><b>Headers</b></button>
          <button class="topbar-button" mat-button (click)=" bucketpermission()"><b>Permission</b></button>


        </div>
      </div>
    </div>

    <div class="viewpanels" style="overflow: auto;">
      <div class="spinner-border d-flex justify-content-center" role="status" *ngIf="isLoading">
        <span class="sr-only"></span>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
        <ng-container matColumnDef="Key">
          <th mat-header-cell *matHeaderCellDef> Key </th>
          <td class="mattab" mat-cell *matCellDef="let element"> {{element.key}} </td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Values </th>
          <td class="mattab" mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <tr class="mattab" mat-header-row *matHeaderRowDef="PropertiesdisplayedColumns"> </tr>
        <tr class="mattab" mat-row *matRowDef="let row; columns: PropertiesdisplayedColumns;"></tr>
      </table>
    </div>


    <div class="tables">
      <div>
        <table mat-table [dataSource]="objectlists" [dataSource]="folderObjectlists" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td class="col-sm-2" mat-cell *matCellDef="let element"
              (click)="folderObjectslist(element.Prefix || element.Key)">
              {{element.Prefix}} {{element.Key}}</td>
          </ng-container>


          <ng-container matColumnDef="Size">
            <th mat-header-cell *matHeaderCellDef> Size </th>
            <td mat-cell *matCellDef="let element"> {{element.Size}} </td>
          </ng-container>


          <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef> datetime </th>
            <td mat-cell *matCellDef="let element"> {{element.LastModified}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns">

          </tr>
          <!-- [ngClass]="{'highlightTableColor': selectedRowIndex == row.position}"(click)="highlight(row)" -->
          <tr mat-row *matRowDef="let row ; columns: displayedColumns; "
            (contextmenu)="onContextMenu($event,row);onRowClick(row)"
            (keydown)="onCustomKeyDown($event,row);onRowClick(row)">
            <!-- [ngClass]="{'disabled-button': status, 'enabled-button': !status}" -->
          </tr>



        </table>

        <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
          [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
        </div>
        <mat-menu #contextMenu="matMenu">
          <!-- <ng-template matMenuContent iet-item="item">
            <button (contextmenu)="copyto()" (click)="copyto()" mat-menu-item>
              <mat-icon>file_copy</mat-icon>
              <span >CopyTo Ctrl+Shift+C</span>
            </button>
          </ng-template> -->
          <ng-container matMenuContent>
            <div class="menu-row">
              <div class="menu-column">
                <button (contextmenu)="copyto()" (click)="copyto()" mat-menu-item>
                  <mat-icon class="icon">file_copy</mat-icon>
                  <span class="content">Copyto..</span>
                  <span class="keyboard">Ctrl+Shift+C</span>
                </button>
              </div>
              <hr>
              <div class="menu-column">
                <button>
                  <span>Move</span>
                </button>
              </div>
              <!-- <div class="menu-column">
                <button>
                  <span>Ctrl+Shift+C</span>
                </button>

              </div> -->
            </div>
          </ng-container>

        </mat-menu>


      </div>

    </div>
  </div>



</body>

</html>