<!-- <router-outlet></router-outlet> -->
<app-topbar></app-topbar>

<div>
    <!-- <mat-card> -->
    <form class="position" [formGroup]="configureurl">
        <div class="position-div">
            <label> AWS SSO ACS URL </label>
            <textarea type="text" formControlName="acsurl"></textarea>
        </div>

        <div class="position-div">
            <label> AWS SSO issuer URL </label>
            <textarea type="text" formControlName="issuer"></textarea>
        </div>
        <div class="position-div">
            <label> Metadata URL </label>
            <textarea type="text" formControlName="metadata"></textarea>
        </div>
        <div class="position-div">
            <label> Embed URL </label>
            <textarea type="text" formControlName="embed"></textarea>
        </div>
        <div>
            <button type="submit" class="sve-btn" (click)="saveconfig()">Save</button>
        </div>
    </form>
    <!-- </mat-card> -->
</div>