<div>
  <ng-container>
    
    <div>
      <div>
        <mat-card class="up">
          <div class="upbutton">
            <!-- <div (click)="refresh()" class="refreshbutton">
                <mat-icon>refresh </mat-icon>
              </div> -->
            <div>
              <div class="filter">
                <input (keyup)="filterBuckets($event)" placeholder="Search">
              </div>
              <div class="searchicon">
                <mat-icon>search</mat-icon>
              </div>
            </div>

            <div>
              <mat-icon class="clearbutton" [mat-dialog-close]>clear</mat-icon>
            </div>
          </div>
          <div>
            <p>Buckets</p>
          </div>
        </mat-card>
      </div>


      <div class="libucket">
        <mat-card class="listbucket">
          <div *ngIf="buckets && !hidecard">
            <mat-radio-group>
              <mat-radio-button class="example-radio-button" (click)="onRowClick(item.Name)"
                *ngFor="let item of buckets" [value]="item.Name">
                <span type="button" (click)="onRowClick(item.Name)" (click)="listobject()"> {{item.Name}} </span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
          
          <div *ngIf="show">
            <h3 class="nobucket">No matches ...</h3>
          </div>
          
          <div class="spinner">
            <div class="spinner-border" role="status" *ngIf="isLoading">
              <span class="sr-only"></span>
            </div>
          </div>
        </mat-card>
      </div>
      <div>
        <footer class="footer">
          <button class="cancle-button" [mat-dialog-close] mat-button>Cancel</button>
          <button *ngIf="showCopyButton" class="copybutton" mat-button (click)="objectCopy()" [disabled]="disabledCopyButton" [style.background-color]="disabledCopyButton ? 'white' : ' #0085FF'">Copy
          </button>
          <button *ngIf="showMoveButton" class="copybutton" mat-button (click)="objectCopy()" [disabled]="disabledMoveButton" [style.background-color]="disabledMoveButton ? 'white' : ' #0085FF'">Move
          </button>

        </footer>
      </div>
    </div>
  </ng-container>
</div>